
<% if session[:message] %>
  <p><%= session.delete(:message) %></p>
<% end %>

<table>
  <ul>
    <% @files.each do |file| %>
      <tr>
        <td>
          <a href="/<%= file %>"> <%= file %> </a>
        </td>
        <td>
          <a href="/<%= file %>/edit">Edit</a>
        </td>
      </tr>
    <% end %>
  </ul>
</table>