<% show_post_detail ||= false %>

<div class="well span8">
  "<%= comment.body %>"
  <% if show_post_detail %>
    on <%= link_to comment.post.title, post_path(comment.post) %>
  <% end %>
  <p>
    <span class="quiet">by <%= link_to comment.commenter.username, '' %></span> <small>at <%= format_date(comment.created_at) %></small>
</div>
