<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% @results.each do |result| %>
  <p><%= result %></p>
  <% @paragraphs.each do |paragraph| %>
    <p><%= paragraph %></p>
  <% end %>
<% end %>